body {
    padding: 0;
    margin: 0;
}

.btn.btn-pass.active {
    background-color: lightgreen !important;
}

.btn.btn-fail.active {
    background-color: red !important;
}

.center {
    text-align: center;
}